<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=anaglyph">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret One">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Yanone Kaffeesatz">
<h3><%=t('User')%></h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
