<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <h1 class="font-effect-anaglyph">Códigos & Comandos</h1>
  <div class="panel panel-primary">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rancho&effect=anaglyph">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poiret One">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone Kaffeesatz">
  	<div class="panel-heading">Criar nova categoria</div>
  	<div class="panel-body">
    	<div class="form-inputs" aria-describedby="sizing-addon1">
    		<%= f.input :name %>
  		</div>

  		<div class="form-actions">
    		<%= f.button :submit %>
  		</div>
  	</div>
  </div>
<% end %>