<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <div class="panel panel-primary">
  	<div class="panel-heading">Criar nova categoria</div>
  	<div class="panel-body">
    	<div class="form-inputs" aria-describedby="sizing-addon1">
    		<%= f.input :name %>
  		</div>

  		<div class="form-actions">
    		<%= f.button :submit %>
  		</div>
  	</div>
  </div>
<% end %>