<p>
  <strong><%=t '.Name' %></strong>
  <%= @category.name %>
</p>

<%= link_to ('Editar <span class="glyphicon glyphicon-edit"></span>').html_safe, edit_category_path(@category), :class => "btn btn-primary"%> |
<%= link_to ('<span class="glyphicon glyphicon-chevron-left"></span> Voltar').html_safe, categories_path, :class => "btn btn-primary" %>