<!--<h1> <%=t '.New Command'%> </h1>-->

<%= render 'form' %>

<% if user_signed_in? %>
	<%= link_to ('<span class="glyphicon glyphicon-chevron-left"></span> Voltar').html_safe, commands_path, :class => "btn btn-primary" %>
<% end -%>	